body{
    background-color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
    color:inherit;

}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.header{
    border-top:10px solid #1B5930;
    width: 100%;
    height:auto;
}

.logo img{
    width:200px;
}

.navigation{
    background-color: #1B5930;
 
}

.navigation a{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.navigation a:hover{
    color: #FFB905;
    transition: 0.3s;
}

.navigation .nav-item .nav-link.active{
    color: #FFB905;
}

.login-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login-container .login{
    background-color: #FFFFFF;
    width: 400px;
    padding: 24px;
    border-radius: 8px;
    margin: 0 auto;
}

.button-green{
    width: 150px;
    background-color: #1B5930;
    color: #FFFFFF;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button-green:hover{
    background-color: #45a049;
    transition: 0.5s;
}

.content{
    background-color: #f2f2f2;
    /*padding-top:20px;*/
    padding-bottom: 20px;
}

.content h1{
    font-family: "Roboto", serif;
}


.content .list-group{
   
}

.content .list-group .list-group-item a{
    text-decoration: none;
    color:inherit;
}

.content .list-group .list-group-item a:hover{
    color: #1B5930;
    transition: 0.3s;
}

.vertically-center{
    align-items: center;
}

.search{
    width: 300px;
    display: flex;
}

.order-form{
    padding: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.order-form .form-label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

input[type=text], input[type=email], input[type=password ], textarea{
    width: 100%;
    padding: 15px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #FFF6CC;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 150px;
    background-color: #1B5930;
    color: #FFFFFF;
    padding: 15px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #45a049;
    transition: 0.3s;
}

.display-content{
    display: contents;
}

.galleries{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.galleries .item{
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.galleries .item img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.galleries .item:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.product-name{
    padding-top:20px;
    padding-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.product-description{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

h2{
    color:#1B5930;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.copy-right{
    padding: 20px;
}

